
  //Home

  .home-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .home-info {
    text-align: left;
  }

  .home-info h1 {
    color: #be3838;
  }

  .cta-button {
    color: white;
    text-decoration: none;
    background-color: #a52f2f;
    padding: 5px 1em;
    border: none;
    border-radius: 5px;
  }

  .cta-button:hover {
    color: white;
    box-shadow: black 2px 2px;
    background: #be3838;
  }
  

  //Footer

  .footer {
    margin-top:auto;
    color: white;
    background: #a52f2f;
}

.footer p {
  text-align: center !important;
  margin: 5px auto;
}



//layout

body { 
  background: url(../../images/bakgrunn.jpg);
  margin: 0;
  text-align: center;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
 }


 .navbar {
  background: url(../../images/NAVbakgrunn.jpg);
 }

 .navbar a {
  color: white !important;
 }


 .standard-background {
  height: 100vh;
}


 @media (max-width: 986px) {

  //Portfolio

  .portfolio-image {
    display: none;
  }

  .projects-grid {
   display: block !important;
  }

  .projects-container {
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr 1fr 1fr !important;
  }

  //Home

  .home-container {
    display: block !important;
  }

  .meg-hjemme {
    width: 60%;
  }



  .standard-background {
    height: max-content;
  }

}
